[Desktop Entry]
Name=Telic
Comment=A free, all-in-one productivity app
Exec=get-telic %U
Icon=${SNAP}/meta/gui/telic.png
Terminal=false
Type=Application
Categories=Office;Utility;ProjectManagement;
